name: Build-Kernel-Driver

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Kodu Indir
      uses: actions/checkout@v4

    - name: WDK'yı Yukle (Gerekli)
      # WDK kernel başlık dosyalarını (ntddk.h vb.) sisteme ekler
      run: choco install windowsdriverkit11 -y

    - name: MSBuild Kurulumu
      uses: microsoft/setup-msbuild@v2

    - name: Driveri Derle
      run: |
        msbuild driver.vcxproj /p:Configuration=Release /p:Platform=x64 /p:TargetVersion="Windows10"

    - name: Bitmis Dosyayi Yukle
      uses: actions/upload-artifact@v4
      with:
        name: FakeHVCI-Driver
        path: |
          driver/x64/Release/*.sys
          x64/Release/*.sys
