name: Build-Kernel-Driver

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Kodu Indir
      uses: actions/checkout@v4

    - name: WDK Önbelleğini Kontrol Et
      id: cache-wdk
      uses: actions/cache@v4
      with:
        path: "C:/Program Files (x86)/Windows Kits/10"
        key: wdk-10.0.22000.0

    - name: WDK'yı Yukle (Sadece Cache Yoksa)
      if: steps.cache-wdk.outputs.cache-hit != 'true'
      run: choco install windowsdriverkit11 -y

    - name: MSBuild Kurulumu
      uses: microsoft/setup-msbuild@v2

    - name: Manuel Driver Derleme (Kaba Kuvvet)
      run: |
        $MSVC_EXE = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\bin\Hostx64\x64\cl.exe"
        $LINK_EXE = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\bin\Hostx64\x64\link.exe"
        $SDK_INC = "C:\Program Files (x86)\Windows Kits\10\Include\10.0.22000.0"
        $MSVC_INC = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\include"
        
        # Tüm yolları tek bir değişkende topla (Önemli!)
        $ENV:INCLUDE = "$MSVC_INC;$SDK_INC\km;$SDK_INC\shared;$SDK_INC\um;$SDK_INC\ucrt"
        
        Write-Host "Derleme basliyor..."
        & $MSVC_EXE /c /nologo /O2 /D_AMD64_ /D_KERNEL_MODE /GS- /Zc:inline /Fo"driver.obj" driver.cpp
        
        if ($LASTEXITCODE -ne 0) { throw "Derleme hatasi!" }

        Write-Host "Linkleme basliyor..."
        $SDK_LIB = "C:\Program Files (x86)\Windows Kits\10\Lib\10.0.22000.0\km\x64"
        & $LINK_EXE /nologo /DRIVER /SUBSYSTEM:NATIVE /ENTRY:DriverEntry /OUT:"FakeHVCI.sys" /LIBPATH:"$SDK_LIB" ntoskrnl.lib hal.lib driver.obj

    - name: Bitmis Dosyayi Yukle
      uses: actions/upload-artifact@v4
      with:
        name: FakeHVCI-Driver
        path: FakeHVCI.sys
