name: Build-Kernel-Driver

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Kodu Indir
      uses: actions/checkout@v4

    - name: WDK Önbelleğini Kontrol Et
      id: cache-wdk
      uses: actions/cache@v4
      with:
        path: "C:/Program Files (x86)/Windows Kits/10"
        key: wdk-10.0.22000.0

    - name: WDK'yı Yukle (Sadece Cache Yoksa)
      if: steps.cache-wdk.outputs.cache-hit != 'true'
      run: choco install windowsdriverkit11 -y

    - name: MSBuild Kurulumu
      uses: microsoft/setup-msbuild@v2

    - name: Driveri Derle
      run: |
        msbuild driver.vcxproj /p:Configuration=Release /p:Platform=x64 /p:_CheckWindowsSDKInstalled=false

    - name: Driveri Derle
      run: |
        msbuild driver.vcxproj /p:Configuration=Release /p:Platform=x64 /p:OutDir=D:\a\FakeHVCI\FakeHVCI\output\ /p:_CheckWindowsSDKInstalled=false

    - name: Dosyaları Listele (Kontrol)
      run: dir D:\a\FakeHVCI\FakeHVCI\output\

    - name: Bitmis Dosyayi Yukle
      uses: actions/upload-artifact@v4
      with:
        name: FakeHVCI-Driver
        path: D:\a\FakeHVCI\FakeHVCI\output\FakeHVCI.sys
