name: Build-Kernel-Driver

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Kodu Indir
      uses: actions/checkout@v4

    - name: MSBuild Kurulumu
      uses: microsoft/setup-msbuild@v2

    - name: WDK ve SDK Yollarını Bul
      shell: pwsh
      run: |
        $kitPath = "C:\Program Files (x86)\Windows Kits\10"
        $sdkVer = (Get-ChildItem "$kitPath\Include" | Where-Object { $_.Name -like "10.*" } | Sort-Object Name -Descending | Select-Object -First 1).Name
        echo "WDK_PATH=$kitPath" >> $env:GITHUB_ENV
        echo "WDK_VER=$sdkVer" >> $env:GITHUB_ENV
        Write-Host "Bulunan SDK Versiyonu: $sdkVer"

    - name: Driveri Derle
      run: |
        msbuild driver.vcxproj /p:Configuration=Release /p:Platform=x64 `
        /p:AdditionalIncludeDirectories="${{ env.WDK_PATH }}\Include\${{ env.WDK_VER }}\km;${{ env.WDK_PATH }}\Include\${{ env.WDK_VER }}\shared" `
        /p:AdditionalLibraryDirectories="${{ env.WDK_PATH }}\Lib\${{ env.WDK_VER }}\km\x64"

    - name: Bitmis Dosyayı Yukle
      uses: actions/upload-artifact@v4
      with:
        name: FakeHVCI-Driver
        path: |
          driver/x64/Release/*.sys
          x64/Release/*.sys
